<div class="technology-container">

  <div class="technoloy-list">
    <span class="technology-title">Technical Skills:<hr/></span>
    <div>
    <i class="fab fa-angular ">
      Angular
    </i>
    <i class="fab fa-html5 ">
      HTML5
    </i>
    <i class="fab fa-css3-alt ">
      CSS3
    </i>
    <i class="fab fa-js ">
      JS/TS
    </i>
    <i class="fab fa-react ">
      REACT
    </i>
    <i class="fa fa-database " >
      SQL
    </i>
    <i class="fas fa-code-branch ">
      GIT
    </i>
    <i class="fas fa-fire ">
      FireBase
    </i>
    <i class="fab fa-aws ">
      AWS
    </i>
  </div>
  </div>
</div>
